---

---

<section class="info-section">
  <h1>Helsingør - Tikøb - Espergærde</h1>
  <p>Helsingør & Espergærde</p>
  <p class="dato">26-09-2025</p>
  <p>Tikøb</p>
  <p class="dato">19-09-2025</p>
</section>
<section class="kulurnat-section">
  <h2>Kulturnat 2024</h2>
  <p>
    Kulturnætterne i Helsingør Kommune er det årlige lyspunkt i det begyndende
    efterårs mørke aftener. Det lokale kultur-, forenings- og handelsliv
    opfordrer i samarbejde borgerne om at komme ud af stuerne for sammen at
    fylde byrummerne i Tikøb, Espergærde og Helsingør med liv.
  </p>
</section>
<style>
  .info-section {
    text-align: center;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    color: white;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  h2 {
    margin-top: 20px;
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
  }
  .dato {
    color: #5dffda;
  }
  .kulurnat-section {
    padding: 25px;
    max-width: 800px;
    margin: 0 auto;
    color: white;
  }
  /* @media (max-width: 800px) {
    .kulurnat-section {
      padding: 20px;
      max-width: 800px;
      margin: 0 auto;
      color: white;
    }
  } */
</style>
