---

---

<section class="info-section">
    <h1>Helsingør - Tikøb - Espergærde</h1>
    <p>
      Helsingør & Espergærde
      <p class="dato">26-09-2025</p>
    </p>
    <p class="subtext">
      Tikøb <br />
      <strong>19-09-2025</strong>
    </p>
  </section>
  <section class="kulurnat-section">
    <h2>Kulturnat 2024</h2>
    <p>
      Kulturnætterne i Helsingør Kommune er det årlige lyspunkt i det begyndende
      efterårs mørke aftener. Det lokale kultur-, forenings- og handelsliv
      opfordrer i samarbejde borgerne om at komme ud af stuerne for sammen at
      fylde byrummerne i Tikøb, Espergærde og Helsingør med liv.
    </p>
  </section>
  <style>
    .info-section {
      text-align: center;
      padding: 40px;
      max-width: 800px;
      margin: 0 auto;
      color: white;
    }
  
    /* .subtext {
      font-size: 1.2rem;
      color: #a3a3a3;
      margin-bottom: 10px;
    } */
  
    h1 {
      font-size: 2.5rem;
      font-weight: bold;
    }
  
    h2 {
      margin-top: 20px;
      font-size: 2rem;
    }
  
    p {
      font-size: 1.1rem;
    }
    .dato {
      color: #5dffda;
    }
    .kulurnat-section {
      padding: 20px;
      max-width: 800px;
      margin: 0 auto;
      color: white;
    }
  </style>
  